.App {
  font-family: sans-serif;
  text-align: center;
}
.calendarHeader {
  background-color: #80a6bd;
  padding-right: 10px;
  padding-left: 10px;
}

.MonthHeader {
  font-weight: bold;
  text-align: center;
}

.dayTilePast {
  height: 40px;
  width: 40px;
  padding-left: 5px;
  padding-right: 4px;
  background-color: #3d7fa8;
  border-radius: 50px / 60px;
  text-align: center;
}

.dayTileToday {
  height: 40px;
  width: 40px;
  padding-left: 5px;
  padding-right: 4px;
  background-color: #7f898f;
  border-radius: 50px / 60px;
  text-align: center;
}

.dayTileFuture {
  height: 40px;
  width: 40px;
  padding-left: 5px;
  padding-right: 4px;
  background-color: #53b2ed;
  border-radius: 50px / 60px;
  text-align: center;
}
